/* For Mortgage calculator page*/

.container {
  margin-top: 60px;
  margin-bottom: 60px;
  line-height: 40px

}

.calculator-name {
  text-align: center;
}


.calculator-icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.header-container {
  background-color: #008080;

}


.page-hearder {
  display: inline-block;
  margin-left: 15px;
  color: white;
  line-height: 40px;
}


.back-button {
  color: white;

}

.calculator-input-section {
  border-radius:8px;
  background-color: 	#F5F5F5;
  margin: 8px 8px 8px 8px;
  padding: 8px;

}

.calculator-result-section {
  border-radius:8px;
  background-color: 	#F5F5F5;
  margin: 8px 8px 20px 8px;
  padding: 8px;

}


input[type=number], select {
  width: 100%;
  padding: 5px 10px;
  margin: 1px 1px 1px 1px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  color: #0000CD;
  text-align: center;

}

input[type=text], select {
  width: 100%;
  padding: 5px 10px;
  margin: 1px 1px 1px 1px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  color: #0000CD;
  text-align: center;

}

.field-name {
  margin-bottom: 0;
  margin-top:5px
}


.btn-primary {
  width: 100%;
  border-radius:0;
  border: none;
  padding: 10px 15px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
}

.calculator-btn {
  margin: 8px 8px 20px 8px;
  padding: 20px;

}


.result-title {
  border-style: groove;
  padding: 5px 5px 5px 5px;
  font-size: 14px;
}

.result-data {
  border-style: groove;
  padding: 5px 5px 5px 5px;
  font-size: 14px;
}


.result-col {
  padding: 0 0 0 0;
}


/* for document sample page*/

.modal-content {
  style="width:100%;
}

.message-button {
  color: red;
  text-align: center;
}

.result-data-progressive {
  border-style: groove;
  padding: 5px 5px 5px 5px;
  font-size: 10px;
}

.result-title-progressive {
  border-style: groove;
  padding: 5px 5px 5px 5px;
  font-size: 10px;
}

.container {
  position: relative;
  width: 200px;
  height: 100px;
}

.hoverable {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
}

.info-icon {
  position: relative;
  top: -4px;
  right: 0;
  font-size: 12px;
  cursor: pointer;
}

.info {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #dbd7d7;
  padding: 5px;
  border: 1px solid #ccc;
   z-index: 2;
}

p {
  font-size: 10px;
}
